<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.vcardqr" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>vCardQR</name>
    <description>
        An app that generates a QR code for a contact.
    </description>
    <author email="aegraham@gmail.com" href="https://coderaaron.com">
        Aaron Graham
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon height="40" src="res/icon/ios/Icon-App-20x20@2x.png" width="40" />
        <icon height="60" src="res/icon/ios/Icon-App-20x20@3x.png" width="60" />
        <icon height="29" src="res/icon/ios/Icon-App-29x29@1x.png" width="29" />
        <icon height="58" src="res/icon/ios/Icon-App-29x29@2x.png" width="58" />
        <icon height="87" src="res/icon/ios/Icon-App-29x29@3x.png" width="87" />
        <icon height="40" src="res/icon/ios/Icon-App-40x40@1x.png" width="40" />
        <icon height="80" src="res/icon/ios/Icon-App-40x40@2x.png" width="80" />
        <icon height="120" src="res/icon/ios/Icon-App-40x40@3x.png" width="120" />
        <icon height="57" src="res/icon/ios/Icon-App-57x57@1x.png" width="57" />
        <icon height="114" src="res/icon/ios/Icon-App-57x57@2x.png" width="114" />
        <icon height="60" src="res/icon/ios/Icon-App-60x60@1x.png" width="60" />
        <icon height="120" src="res/icon/ios/Icon-App-60x60@2x.png" width="120" />
        <icon height="180" src="res/icon/ios/Icon-App-60x60@3x.png" width="180" />
        <icon height="76" src="res/icon/ios/Icon-App-76x76@1x.png" width="76" />
    </platform>
    <engine name="ios" spec="^4.5.2" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2" />
    <plugin name="cordova-plugin-contacts" spec="^2.3.1">
        <variable name="CONTACTS_USAGE_DESCRIPTION" value=" " />
    </plugin>
</widget>
